## application.yaml
cloud:
  aws:
    region:
      static: us-east-2
    stack:
      auto: false
    credentials:
      profile-name: default


logging:
  level:
    com:
      amazonaws:
        util:
          EC2MetadataUtils: error